# Ex2 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.

### Step 1. Import the necessary libraries

In [0]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv).

### Step 3. Assign it to a variable called euro12.

In [0]:
euro12 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv",sep=',')

In [0]:
euro12.head()

             Team  Goals  Shots on target  ...  Subs on Subs off Players Used
0         Croatia      4               13  ...        9        9           16
1  Czech Republic      4               13  ...       11       11           19
2         Denmark      4               10  ...        7        7           15
3         England      5               11  ...       11       11           16
4          France      3               22  ...       11       11           19

[5 rows x 35 columns]

### Step 4. Select only the Goal column.

In [0]:
euro12.Goals

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

### Step 5. How many team participated in the Euro2012?

In [0]:
euro12.Team.nunique()

16

### Step 6. What is the number of columns in the dataset?

In [0]:
euro12.shape[1]

35

In [0]:
euro12.columns

Index([u'Team', u'Goals', u'Shots on target', u'Shots off target',
       u'Shooting Accuracy', u'% Goals-to-shots',
       u'Total shots (inc. Blocked)', u'Hit Woodwork', u'Penalty goals',
       u'Penalties not scored', u'Headed goals', u'Passes',
       u'Passes completed', u'Passing Accuracy', u'Touches', u'Crosses',
       u'Dribbles', u'Corners Taken', u'Tackles', u'Clearances',
       u'Interceptions', u'Clearances off line', u'Clean Sheets', u'Blocks',
       u'Goals conceded', u'Saves made', u'Saves-to-shots ratio', u'Fouls Won',
       u'Fouls Conceded', u'Offsides', u'Yellow Cards', u'Red Cards',
       u'Subs on', u'Subs off', u'Players Used'],
      dtype='object')

### Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline

In [0]:
discipline = euro12[(euro12['Yellow Cards']>0)|(euro12['Red Cards']>0)]
discipline[['Team','Yellow Cards','Red Cards']]

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

### Step 8. Sort the teams by Red Cards, then to Yellow Cards

In [0]:
discipline.sort_values(['Red Cards','Yellow Cards'],ascending=False)[['Team','Yellow Cards','Red Cards']]

                   Team  Yellow Cards  Red Cards
6                Greece             9          1
9                Poland             7          1
11  Republic of Ireland             6          1
7                 Italy            16          0
10             Portugal            12          0
13                Spain            11          0
0               Croatia             9          0
1        Czech Republic             7          0
14               Sweden             7          0
4                France             6          0
12               Russia             6          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
2               Denmark             4          0
5               Germany             4          0

### Step 9. Calculate the mean Yellow Cards given per Team

### Step 10. Filter teams that scored more than 6 goals

### Step 11. Select the teams that start with G

### Step 12. Select the first 7 columns

### Step 13. Select all columns except the last 3.

### Step 14. Present only the Shooting Accuracy from England, Italy and Russia