<a href="https://colab.research.google.com/github/03dipak/practise-pandas-ml/blob/master/Python-Data-Structure/Exercises001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from enum import Enum,IntEnum
from collections import defaultdict,Counter,OrderedDict
from array import array
import binascii,bisect,heapq,queue

**1. Write a Python program to create an Enum object and display a member name and value**

In [0]:
class Country(Enum):
  Afghanistan = 93
  Albania = 355
  Algeria = 213
  Andorra = 376
  Angola = 244
  Antarctica = 672

print("Member Name  :: {}".format(Country.Albania.name))
print("Member Value :: {}".format(Country.Albania.value))

Member Name  :: Albania
Member Value :: 355

**2. Write a Python program to iterate over an enum class and display individual member and their value**

In [0]:
for data in Country:
  print("{0} :: {1}".format(data.name,data.value))

Afghanistan :: 93
Albania :: 355
Algeria :: 213
Andorra :: 376
Angola :: 244
Antarctica :: 672

**3. Write a Python program to display all the member name of an enum class ordered by their values**

In [0]:
class Country(enum.IntEnum):
    Afghanistan = 93
    Albania = 355
    Algeria = 213
    Andorra = 376
    Angola = 244
    Antarctica = 672
#print('Country Name ordered by Country Code:')
#print('\n'.join('  ' + c.name for c in sorted(Country)))
for c in sorted(Country):
  print(c.name)

Afghanistan
Algeria
Angola
Albania
Andorra
Antarctica

**4. Write a Python program to get all values from an enum class**

In [0]:
class Country(IntEnum):
  Afghanistan = 93
  Albania = 355
  Algeria = 213
  Andorra = 376
  Angola = 244
  Antarctica = 672

Country_values = list(map(int,Country))
Country_values

[93, 355, 213, 376, 244, 672]

**5. Write a Python program to count the most common words in a dictionary**

In [0]:
words = [
   'red', 'green', 'black', 'pink', 'black', 'white', 'black', 'eyes',
   'white', 'black', 'orange', 'pink', 'pink', 'red', 'red', 'white', 'orange',
   'white', "black", 'pink', 'green', 'green', 'pink', 'green', 'pink',
   'white', 'orange', "orange", 'red'
]

word_counts = Counter(words)
top_four = word_counts.most_common(4)
print(top_four)

[('pink', 6), ('black', 5), ('white', 5), ('red', 4)]

**6. Write a Python program to find the class wise roll number from a tuple-of-tuples**

In [0]:
classes = (
    ('V', 1),
    ('VI', 1),
    ('V', 2),
    ('VI', 2),
    ('VI', 3),
    ('VII', 1),
)

class_rollno = defaultdict(list)

for class_name, roll_id in classes:
    class_rollno[class_name].append(roll_id)

print(class_rollno)

defaultdict(<class 'list'>, {'V': [1, 2], 'VI': [1, 2, 3], 'VII': [1]})

**7. Write a Python program to count the number of students of individual class**

In [0]:
classes = (
('V', 1),
('VI', 1),
('V', 2),
('VI', 2),
('VI', 3),
('VII', 1),
)

studentCount = Counter(className for className,classRol in classes)
print(studentCount)

Counter({'VI': 3, 'V': 2, 'VII': 1})

**8.Write a Python program to get the unique enumeration values.**

In [0]:
class Countries(Enum):
  Afghanistan = 93
  Albania = 355
  Algeria = 213
  Andorra = 376
  Angola = 244
  India = 355
  USA = 213

for data in Countries:
  print("{:15} : {}".format(data.name,data.value))

Afghanistan     : 93
Albania         : 355
Algeria         : 213
Andorra         : 376
Angola          : 244

**9. Write a Python program to create an instance of an OrderedDict using a given dictionary. Sort the dictionary during the creation and print the members of the dictionary in reverse order**

In [0]:
dict = {'Afghanistan': 93, 'Albania': 355, 'Algeria': 213, 'Andorra': 376, 'Angola': 244}
new_dict = OrderedDict(dict.items())
for key in new_dict:
    print (key, new_dict[key])

print("\nIn reverse order:")
for key in reversed(new_dict):
    print (key, new_dict[key])

Afghanistan 93
Albania 355
Algeria 213
Andorra 376
Angola 244

In reverse order:
Angola 244
Andorra 376
Algeria 213
Albania 355
Afghanistan 93

**10. Write a Python program to group a sequence of key-value pairs into a dictionary of lists**

In [0]:
class_roll = [('v', 1), ('vi', 2), ('v', 3), ('vi', 4), ('vii', 1)]
classDict = defaultdict(list)

for key,value in class_roll:
  classDict[key].append(value)

print(sorted(classDict.items()))

[('v', [1, 3]), ('vi', [2, 4]), ('vii', [1])]

**11.Write a Python program to compare two unordered lists (not sets)**

In [0]:
def compare_lists(x, y):
    return Counter(x) == Counter(y)
n1 = [20, 10, 30, 10, 20, 30]
n2 = [30, 20, 10, 30, 20, 50]
print(compare_lists(n1, n2))

False

**12. Write a Python program to create an array contains six integers. Also print all the members of the array**

In [0]:
arr = array("I",[10,20,30,40,50])
for item in arr:
  print(item)

10
20
30
40
50

**13. Write a Python program to get the array size of types unsigned integer and float**

In [0]:
intarr = array("I",[1,4])
print(intarr.itemsize)

floatarr = array("f",[1.2,4.5])
print(floatarr.itemsize)

4
4

**14. Write a Python program to get an array buffer information**

In [0]:
myArr = array("I",(1,2,4))
print(myArr.buffer_info())

(140280787866720, 3)

**15. Write a Python program to get the length of an array**

In [0]:
myArr = array("I",[1,9,6,7,2])
len(myArr)

5

**16. Write a Python program to convert an array to an ordinary list with the same items**

In [0]:
myArr = array('b', [1, 2, 3, 4])
myList = myArr.tolist()
print(myList)

[1, 2, 3, 4]

**17. Write a Python program to convert an array to an array of machine values and return the bytes representation.**

In [0]:
myArr = array('i', [1, 2, 3, 4, 5, 6])
bytes_array = a.tobytes()
print('Array of bytes:', binascii.hexlify(bytes_array))

Array of bytes: b'0100000004000000'

**18. Write a Python program to read a string and interpreting the string as an array of machine values.**

In [0]:
array1 = array('i', [7, 8, 9, 10])
print('array1:', array1)
as_bytes = array1.tobytes()
print('Bytes:', binascii.hexlify(as_bytes))
array2 = array('i')
array2.frombytes(as_bytes)
print('array2:', array2)

array1: array('i', [7, 8, 9, 10])
Bytes: b'0700000008000000090000000a000000'
array2: array('i', [7, 8, 9, 10])

**19. Write a Python program to push three items into the heap and print the items from the heap.**

In [2]:
heap = []
heapq.heappush(heap, ('V', 1))
heapq.heappush(heap, ('V', 2))
heapq.heappush(heap, ('V', 3))
for a in heap:
	print(a)

('V', 1)
('V', 2)
('V', 3)

**20. Write a Python program to push three items into a heap and return the smallest item from the heap. Also Pop and return the smallest item from the heap.**

In [4]:
heap = []
heapq.heappush(heap, ('V', 4))
heapq.heappush(heap, ('V', 2))
heapq.heappush(heap, ('V', 3))
print("Items in the heap:")
for a in heap:
	print(a)
print("----------------------")
print("The smallest item in the heap:")
print(heap[0])
print("----------------------")
print("Pop the smallest item in the heap:")
heapq.heappop(heap)
for a in heap:
	print(a)

Items in the heap:
('V', 2)
('V', 4)
('V', 3)
----------------------
The smallest item in the heap:
('V', 2)
----------------------
Pop the smallest item in the heap:
('V', 3)
('V', 4)

**21. Write a Python program to push an item on the heap, then pop and return the smallest item from the heap**

In [5]:
heap = []
heapq.heappush(heap, ('V', 3))
heapq.heappush(heap, ('V', 2))
heapq.heappush(heap, ('V', 1))
print("Items in the heap:")
for a in heap:
	print(a)
print("----------------------")
print("Using heappushpop push item on the heap and return the smallest item.")
heapq.heappushpop(heap, ('V', 6))
for a in heap:
	print(a)

Items in the heap:
('V', 1)
('V', 3)
('V', 2)
----------------------
Using heappushpop push item on the heap and return the smallest item.
('V', 2)
('V', 3)
('V', 6)

**22.Write a Python program to create a heapsort, pushing all values onto a heap and then popping off the smallest values one at a time.**

In [14]:
def heapsort(h):
    heap = []
    for value in h:
        heapq.heappush(heap, value)
    
    return [heapq.heappop(heap) for i in range(len(heap))]

print(heapsort([10, 20, 50, 70, 90, 20, 50, 40, 60, 80, 100]))

[10, 20, 20, 40, 50, 50, 60, 70, 80, 90, 100]

**23. Write a Python program to get the two largest and three smallest items from a dataset.**

In [16]:
h = [10, 20, 50, 70, 90, 20, 50, 40, 60, 80, 100]
print(heapq.nlargest(2,h))
print(heapq.nsmallest(3,h))

[100, 90]
[10, 20, 20]

**24. Write a Python program to locate the left insertion point for a specified value in sorted order.**

In [18]:
def index(a, x):
    i = bisect.bisect_left(a, x)
    return i
    
a = [1,2,4,5]
print(index(a, 6))
print(index(a, 3))

4
2

**25.Write a Python program to locate the right insertion point for a specified value in sorted order.**

In [19]:
def index(a, x):
    i = bisect.bisect_right(a, x)
    return i
    
a = [1,2,4,7]
print(index(a, 6))
print(index(a, 3))

3
2

**26.Write a Python program to insert items into a list in sorted order.**

In [20]:
my_list = [25, 45, 36, 47, 69, 48, 68, 78, 14, 36]

print("Original List:")
print(my_list)
sorted_list = []
for i in my_list:
    position = bisect.bisect(sorted_list, i)
    bisect.insort(sorted_list, i)
print("Sorted List:")
print(sorted_list)

Original List:
[25, 45, 36, 47, 69, 48, 68, 78, 14, 36]
Sorted List:
[14, 25, 36, 36, 45, 47, 48, 68, 69, 78]

**27.Write a Python program to create a queue and display all the members and size of the queue.**

In [22]:
q = queue.Queue()
for x in range(4):
    q.put(x)
print("Members of the queue:")
y=z=q.qsize()

for n in list(q.queue):
    print(n, end=" ")
print("\nSize of the queue:")
print(q.qsize())

Members of the queue:
0 1 2 3
Size of the queue:
4

**28.Write a Python program to find whether a queue is empty or not.**

In [23]:
p = queue.Queue()
q = queue.Queue()
for x in range(4):
    q.put(x)
print(p.empty())
print(q.empty())

True
False

**29.Write a Python program to create a FIFO queue.**

In [24]:
q = queue.Queue()
#insert items at the end of the queue 
for x in range(4):
    q.put(str(x))
#remove items from the head of the queue 
while not q.empty():
    print(q.get(), end=" ")
print("\n")

0 1 2 3

**30.Write a Python program to create a LIFO queue.**

In [25]:
q = queue.LifoQueue()
#insert items at the head of the queue 
for x in range(4):
    q.put(str(x))
#remove items from the head of the queue 
while not q.empty():
    print(q.get(), end=" ")
print()

3 2 1 0