<a href="https://colab.research.google.com/github/03dipak/practise-pandas-ml/blob/master/Python-Data-Structure/Exercises001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from enum import Enum,IntEnum
from collections import defaultdict,Counter,OrderedDict

**1. Write a Python program to create an Enum object and display a member name and value**

In [0]:
class Country(Enum):
  Afghanistan = 93
  Albania = 355
  Algeria = 213
  Andorra = 376
  Angola = 244
  Antarctica = 672

print("Member Name  :: {}".format(Country.Albania.name))
print("Member Value :: {}".format(Country.Albania.value))

Member Name  :: Albania
Member Value :: 355

**2. Write a Python program to iterate over an enum class and display individual member and their value**

In [0]:
for data in Country:
  print("{0} :: {1}".format(data.name,data.value))

Afghanistan :: 93
Albania :: 355
Algeria :: 213
Andorra :: 376
Angola :: 244
Antarctica :: 672

**3. Write a Python program to display all the member name of an enum class ordered by their values**

In [0]:
class Country(enum.IntEnum):
    Afghanistan = 93
    Albania = 355
    Algeria = 213
    Andorra = 376
    Angola = 244
    Antarctica = 672
#print('Country Name ordered by Country Code:')
#print('\n'.join('  ' + c.name for c in sorted(Country)))
for c in sorted(Country):
  print(c.name)

Afghanistan
Algeria
Angola
Albania
Andorra
Antarctica

**4. Write a Python program to get all values from an enum class**

In [0]:
class Country(IntEnum):
  Afghanistan = 93
  Albania = 355
  Algeria = 213
  Andorra = 376
  Angola = 244
  Antarctica = 672

Country_values = list(map(int,Country))
Country_values

[93, 355, 213, 376, 244, 672]

**5. Write a Python program to count the most common words in a dictionary**

In [6]:
words = [
   'red', 'green', 'black', 'pink', 'black', 'white', 'black', 'eyes',
   'white', 'black', 'orange', 'pink', 'pink', 'red', 'red', 'white', 'orange',
   'white', "black", 'pink', 'green', 'green', 'pink', 'green', 'pink',
   'white', 'orange', "orange", 'red'
]

word_counts = Counter(words)
top_four = word_counts.most_common(4)
print(top_four)

[('pink', 6), ('black', 5), ('white', 5), ('red', 4)]

**6. Write a Python program to find the class wise roll number from a tuple-of-tuples**

In [9]:
classes = (
    ('V', 1),
    ('VI', 1),
    ('V', 2),
    ('VI', 2),
    ('VI', 3),
    ('VII', 1),
)

class_rollno = defaultdict(list)

for class_name, roll_id in classes:
    class_rollno[class_name].append(roll_id)

print(class_rollno)

defaultdict(<class 'list'>, {'V': [1, 2], 'VI': [1, 2, 3], 'VII': [1]})

**7. Write a Python program to count the number of students of individual class**

In [14]:
classes = (
('V', 1),
('VI', 1),
('V', 2),
('VI', 2),
('VI', 3),
('VII', 1),
)

studentCount = Counter(className for className,classRol in classes)
print(studentCount)

Counter({'VI': 3, 'V': 2, 'VII': 1})

**8.Write a Python program to get the unique enumeration values.**

In [17]:
class Countries(Enum):
  Afghanistan = 93
  Albania = 355
  Algeria = 213
  Andorra = 376
  Angola = 244
  India = 355
  USA = 213

for data in Countries:
  print("{:15} : {}".format(data.name,data.value))

Afghanistan     : 93
Albania         : 355
Algeria         : 213
Andorra         : 376
Angola          : 244

**9. Write a Python program to create an instance of an OrderedDict using a given dictionary. Sort the dictionary during the creation and print the members of the dictionary in reverse order**

In [19]:
dict = {'Afghanistan': 93, 'Albania': 355, 'Algeria': 213, 'Andorra': 376, 'Angola': 244}
new_dict = OrderedDict(dict.items())
for key in new_dict:
    print (key, new_dict[key])

print("\nIn reverse order:")
for key in reversed(new_dict):
    print (key, new_dict[key])

Afghanistan 93
Albania 355
Algeria 213
Andorra 376
Angola 244

In reverse order:
Angola 244
Andorra 376
Algeria 213
Albania 355
Afghanistan 93