<a href="https://colab.research.google.com/github/03dipak/practise-pandas-ml/blob/master/05_Merge/Housing%20Market/Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [0]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [0]:
s1 = pd.Series(np.random.randint(1,high=5,size=100,dtype='l'))
s2 = pd.Series(np.random.randint(1,high=4,size=100,dtype='l'))
s3 = pd.Series(np.random.randint(10000,high=30001,size=100,dtype='l'))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [6]:
houseM = pd.concat([s1,s2,s3],axis=1)
houseM.head()

   0  1      2
0  2  1  29556
1  4  1  16561
2  2  3  10061
3  1  2  22325
4  2  1  24794

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

### Step 6. Ops it seems it is going only until index 99. Is it true?

### Step 7. Reindex the DataFrame so it goes from 0 to 299