<a href="https://colab.research.google.com/github/03dipak/practise-pandas-ml/blob/master/10_Deleting/Wine/Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [0]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

### Step 3. Assign it to a variable called wine

In [2]:
wine = pd.read_csv("https://raw.githubusercontent.com/03dipak/practise-pandas-ml/master/10_Deleting/Wine/wine.data",sep=",")
wine.head()

   1  14.23  1.71  2.43  15.6  127  ...   .28  2.29  5.64  1.04  3.92  1065
0  1  13.20  1.78  2.14  11.2  100  ...  0.26  1.28  4.38  1.05  3.40  1050
1  1  13.16  2.36  2.67  18.6  101  ...  0.30  2.81  5.68  1.03  3.17  1185
2  1  14.37  1.95  2.50  16.8  113  ...  0.24  2.18  7.80  0.86  3.45  1480
3  1  13.24  2.59  2.87  21.0  118  ...  0.39  1.82  4.32  1.04  2.93   735
4  1  14.20  1.76  2.45  15.2  112  ...  0.34  1.97  6.75  1.05  2.85  1450

[5 rows x 14 columns]

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [6]:
wine = wine.drop(wine.columns[[0,3,6,8,11,12,13]], axis = 1)
wine.head()

   14.23  1.71  15.6  127  3.06  2.29  5.64
0  13.20  1.78  11.2  100  2.76  1.28  4.38
1  13.16  2.36  18.6  101  3.24  2.81  5.68
2  14.37  1.95  16.8  113  3.49  2.18  7.80
3  13.24  2.59  21.0  118  2.69  1.82  4.32
4  14.20  1.76  15.2  112  3.39  1.97  6.75

### Step 5. Assign the columns as below:

The attributes are (dontated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [7]:
wine.columns = ['alcohol', 'malic_acid', 'alcalinity_of_ash', 'magnesium', 'flavanoids', 'proanthocyanins', 'hue']
wine.head()

   alcohol  malic_acid  alcalinity_of_ash  ...  flavanoids  proanthocyanins   hue
0    13.20        1.78               11.2  ...        2.76             1.28  4.38
1    13.16        2.36               18.6  ...        3.24             2.81  5.68
2    14.37        1.95               16.8  ...        3.49             2.18  7.80
3    13.24        2.59               21.0  ...        2.69             1.82  4.32
4    14.20        1.76               15.2  ...        3.39             1.97  6.75

[5 rows x 7 columns]

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [10]:
wine.iloc[0:3,0:1] = np.nan
wine.head()

   alcohol  malic_acid  alcalinity_of_ash  ...  flavanoids  proanthocyanins   hue
0      NaN        1.78               11.2  ...        2.76             1.28  4.38
1      NaN        2.36               18.6  ...        3.24             2.81  5.68
2      NaN        1.95               16.8  ...        3.49             2.18  7.80
3    13.24        2.59               21.0  ...        2.69             1.82  4.32
4    14.20        1.76               15.2  ...        3.39             1.97  6.75

[5 rows x 7 columns]

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [14]:
wine.iloc[2:4,3] = np.nan
wine

     alcohol  malic_acid  ...  proanthocyanins        hue
0        NaN        1.78  ...             1.28   4.380000
1        NaN        2.36  ...             2.81   5.680000
2        NaN        1.95  ...             2.18   7.800000
3      13.24        2.59  ...             1.82   4.320000
4      14.20        1.76  ...             1.97   6.750000
5      14.39        1.87  ...             1.98   5.250000
6      14.06        2.15  ...             1.25   5.050000
7      14.83        1.64  ...             1.98   5.200000
8      13.86        1.35  ...             1.85   7.220000
9      14.10        2.16  ...             2.38   5.750000
10     14.12        1.48  ...             1.57   5.000000
11     13.75        1.73  ...             1.81   5.600000
12     14.75        1.73  ...             2.81   5.400000
13     14.38        1.87  ...             2.96   7.500000
14     13.63        1.81  ...             1.46   7.300000
15     14.30        1.92  ...             1.97   6.200000
16     13.83        1.57  ...             1.72   6.600000
17     14.19        1.59  ...             1.86   8.700000
18     13.64        3.10  ...             1.66   5.100000
19     14.06        1.63  ...             2.10   5.650000
20     12.93        3.80  ...             1.98   4.500000
21     13.71        1.86  ...             1.69   3.800000
22     12.85        1.60  ...             1.46   3.930000
23     13.50        1.81  ...             1.66   3.520000
24     13.05        2.05  ...             1.92   3.580000
25     13.39        1.77  ...             1.45   4.800000
26     13.30        1.72  ...             1.35   3.950000
27     13.87        1.90  ...             1.76   4.500000
28     14.02        1.68  ...             1.98   4.700000
29     13.73        1.50  ...             2.38   5.700000
..       ...         ...  ...              ...        ...
147    13.32        3.24  ...             1.25   8.420000
148    13.08        3.90  ...             1.14   9.400000
149    13.50        3.12  ...             1.25   8.600000
150    12.79        2.67  ...             1.26  10.800000
151    13.11        1.90  ...             1.56   7.100000
152    13.23        3.30  ...             1.87  10.520000
153    12.58        1.29  ...             1.40   7.600000
154    13.17        5.19  ...             1.55   7.900000
155    13.84        4.12  ...             1.56   9.010000
156    12.45        3.03  ...             1.14   7.500000
157    14.34        1.68  ...             2.70  13.000000
158    13.48        1.67  ...             2.29  11.750000
159    12.36        3.83  ...             1.04   7.650000
160    13.69        3.26  ...             0.80   5.880000
161    12.85        3.27  ...             0.96   5.580000
162    12.96        3.45  ...             0.94   5.280000
163    13.78        2.76  ...             1.03   9.580000
164    13.73        4.36  ...             1.15   6.620000
165    13.45        3.70  ...             1.46  10.680000
166    12.82        3.37  ...             0.97  10.260000
167    13.58        2.58  ...             1.54   8.660000
168    13.40        4.60  ...             1.11   8.500000
169    12.20        3.03  ...             0.73   5.500000
170    12.77        2.39  ...             0.64   9.899999
171    14.16        2.51  ...             1.24   9.700000
172    13.71        5.65  ...             1.06   7.700000
173    13.40        3.91  ...             1.41   7.300000
174    13.27        4.28  ...             1.35  10.200000
175    13.17        2.59  ...             1.46   9.300000
176    14.13        4.10  ...             1.35   9.200000

[177 rows x 7 columns]

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

### Step 9. Count the number of missing values

### Step 10.  Create an array of 10 random numbers up until 10

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

### Step 12.  How many missing values do we have?

### Step 13. Delete the rows that contain missing values

### Step 14. Print only the non-null values in alcohol

### Step 15.  Reset the index, so it starts with 0 again

### BONUS: Create your own question and answer it.