<a href="https://colab.research.google.com/github/03dipak/practise-pandas-ml/blob/master/08_Creating_Series_and_DataFrames/Pokemon/Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [0]:
import pandas as pd
import numpy as np

### Step 2. Create a data dictionary that looks like the DataFrame below

### Step 3. Assign it to a variable called

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

### Step 5. Add another column called place, and insert what you have in mind.

### Step 6. Present the type of each column

### BONUS: Create your own question and answer it.