<a href="https://colab.research.google.com/github/03dipak/practise-pandas-ml/blob/master/01_Getting_%26_Knowing_Your_Data/ChipotleExercises-001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [0]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [0]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t')

### Step 4. See the first 10 entries

In [0]:
chipo.head(10)

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98
5         3  ...     $10.98
6         3  ...      $1.69
7         4  ...     $11.75
8         4  ...      $9.25
9         5  ...      $9.25

[10 rows x 5 columns]

### Step 5. What is the number of observations in the dataset?

In [0]:
# Solution 1

chipo.shape[0] #number of rows

4622

In [0]:
# Solution 2

chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

### Step 6. What is the number of columns in the dataset?

In [0]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [0]:
chipo.columns

Index([u'order_id', u'quantity', u'item_name', u'choice_description',
       u'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [0]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [0]:
s = chipo.groupby('item_name').sum()

s.sort_values(['quantity'],ascending=False,inplace=True)
s.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [0]:
s = chipo.groupby('item_name').sum()

s.sort_values(['quantity'],ascending=False,inplace=True)
s.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 11. What was the most ordered item in the choice_description column?

In [0]:
s = chipo.groupby('choice_description').sum()
s.sort_values(['quantity'],ascending=False,inplace=True)
s.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [0]:
chipo.quantity.sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [0]:
chipo.item_price.dtypes

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [0]:
chipo.item_price = chipo.item_price.apply(lambda x: float(x[1:-1]) )

#### Step 13.c. Check the item price type

In [0]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [0]:
revenue = (chipo.item_price * chipo.quantity).sum()
print("Revenue was: ${0}".format(revenue))

Revenue was: $39237.02

### Step 15. How many orders were made in the period?

In [0]:
#order_id = chipo.order_id
#order = chipo.order_id.sort_values(ascending=False)
#order[len(order)-1]
order = chipo.order_id.value_counts().count()
order

1834

### Step 16. What is the average revenue amount per order?

In [0]:
# Solution 1
chipo['revenue'] = chipo.item_price * chipo.quantity
revChipo = chipo.groupby('order_id').sum()
revChipo.revenue.mean()

21.39423118865867

In [0]:
# Solution 2
chipo['revenue'] = chipo.item_price * chipo.quantity
revChipo.revenue.mean()

21.39423118865867

### Step 17. How many different items are sold?

In [0]:
chipo.item_name.value_counts().count()

50