# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [0]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [0]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep="\t")

### Step 4. How many products cost more than $10.00?

In [33]:
chipo['price'] = chipo.item_price.apply(lambda x: float(x[1 : -1]) )
chipo_filter = chipo.drop_duplicates(['item_name','quantity'])

chipo_once = chipo_filter[chipo_filter.quantity == 1]

chipo_once[chipo_once.price > 10].item_name.nunique()

12

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [38]:
chipo_once[['item_name','price']]

                                  item_name  price
0              Chips and Fresh Tomato Salsa   2.39
1                                      Izze   3.39
2                          Nantucket Nectar   3.39
3     Chips and Tomatillo-Green Chili Salsa   2.39
5                              Chicken Bowl  10.98
6                             Side of Chips   1.69
7                             Steak Burrito  11.75
8                          Steak Soft Tacos   9.25
10                      Chips and Guacamole   4.45
11                     Chicken Crispy Tacos   8.75
12                       Chicken Soft Tacos   8.75
16                          Chicken Burrito   8.49
21                         Barbacoa Burrito   8.99
27                         Carnitas Burrito   8.99
28                              Canned Soda   1.09
33                            Carnitas Bowl   8.99
34                            Bottled Water   1.09
38    Chips and Tomatillo Green Chili Salsa   2.95
39                            Barbacoa Bowl  11.75
40                                    Chips   2.15
44                       Chicken Salad Bowl   8.75
54                               Steak Bowl   8.99
56                      Barbacoa Soft Tacos   9.25
57                           Veggie Burrito  11.25
62                              Veggie Bowl  11.25
92                       Steak Crispy Tacos   9.25
111     Chips and Tomatillo Red Chili Salsa   2.95
168                   Barbacoa Crispy Tacos  11.75
186                       Veggie Salad Bowl  11.25
191      Chips and Roasted Chili-Corn Salsa   2.39
233      Chips and Roasted Chili Corn Salsa   2.95
237                     Carnitas Soft Tacos   9.25
250                           Chicken Salad  10.98
263                       Canned Soft Drink   1.25
298                       6 Pack Soft Drink   6.49
300     Chips and Tomatillo-Red Chili Salsa   2.39
510                                 Burrito   7.40
520                            Crispy Tacos   7.40
554                   Carnitas Crispy Tacos   9.25
606                        Steak Salad Bowl  11.89
664                             Steak Salad   8.99
673                                    Bowl   7.40
674       Chips and Mild Fresh Tomato Salsa   3.00
738                       Veggie Soft Tacos  11.25
1132                    Carnitas Salad Bowl  11.89
1229                    Barbacoa Salad Bowl  11.89
1414                                  Salad   7.40
1653                    Veggie Crispy Tacos   8.49
1694                           Veggie Salad   8.49
3750                         Carnitas Salad   8.99

### Step 6. Sort by the name of the item

In [40]:
chipo.sort_values('item_name',inplace=True)
chipo

      order_id  quantity  ... item_price  price
3389      1360         2  ...    $12.98   12.98
1026       422         1  ...     $6.49    6.49
1051       432         1  ...     $6.49    6.49
2232       899         1  ...     $6.49    6.49
2374       945         1  ...     $6.49    6.49
1260       511         1  ...     $6.49    6.49
879        363         1  ...     $6.49    6.49
3693      1480         1  ...     $6.49    6.49
3789      1517         1  ...     $6.49    6.49
2793      1109         1  ...     $6.49    6.49
2860      1136         1  ...     $6.49    6.49
1392       566         1  ...     $6.49    6.49
639        264         1  ...     $6.49    6.49
3600      1443         1  ...     $6.49    6.49
4359      1741         1  ...     $6.49    6.49
3633      1454         1  ...     $6.49    6.49
388        168         1  ...     $6.49    6.49
721        298         1  ...     $6.49    6.49
417        182         1  ...     $6.49    6.49
1758       709         1  ...     $6.49    6.49
3766      1508         1  ...     $6.49    6.49
743        306         1  ...     $6.49    6.49
357        154         1  ...     $6.49    6.49
1755       708         1  ...     $6.49    6.49
1279       520         1  ...     $6.49    6.49
3614      1448         1  ...     $6.49    6.49
3141      1253         1  ...     $6.49    6.49
4363      1742         1  ...     $6.49    6.49
2389       949         1  ...     $6.49    6.49
3132      1248         1  ...     $6.49    6.49
...        ...       ...  ...        ...    ...
2756      1094         1  ...     $8.49    8.49
4084      1635         1  ...     $8.49    8.49
2996      1192         1  ...     $8.49    8.49
3471      1395         1  ...     $8.49    8.49
3163      1263         1  ...     $8.49    8.49
4109      1646         1  ...    $11.25   11.25
496        207         1  ...    $11.25   11.25
2683      1066         1  ...     $8.75    8.75
4573      1818         1  ...     $8.75    8.75
295        128         1  ...    $11.25   11.25
4261      1700         1  ...    $11.25   11.25
2156       869         1  ...    $11.25   11.25
960        394         1  ...     $8.75    8.75
1316       536         1  ...     $8.75    8.75
3293      1321         1  ...     $8.75    8.75
4541      1805         1  ...     $8.75    8.75
2269       913         1  ...     $8.75    8.75
2223       896         1  ...     $8.75    8.75
3223      1289         1  ...    $11.25   11.25
455        195         1  ...    $11.25   11.25
1884       760         1  ...    $11.25   11.25
4201      1677         1  ...    $11.25   11.25
186         83         1  ...    $11.25   11.25
1699       688         1  ...    $11.25   11.25
738        304         1  ...    $11.25   11.25
3889      1559         2  ...    $16.98   16.98
2384       948         1  ...     $8.75    8.75
781        322         1  ...     $8.75    8.75
2851      1132         1  ...     $8.49    8.49
1395       567         1  ...     $8.49    8.49

[4622 rows x 6 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [42]:
q = chipo.sort_values('quantity',ascending=False)
q.head(1)

      order_id  quantity  ... item_price  price
3598      1443        15  ...    $44.25   44.25

[1 rows x 6 columns]

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [44]:
chipo.item_name.value_counts()['Veggie Salad Bowl']

18

### Step 9. How many times people orderd more than one Canned Soda?

In [56]:
chipo[(chipo.quantity > 1) & (chipo.item_name == 'Canned Soda')].item_name.count()

20

In [0]:
=